.tmp
.sass-cache/
*.iws
*Db.properties
*Db.script
.settings
stacktrace.log
/*.zip
/plugin.xml
/*.log
/*DB.*
/cobertura.ser
.DS_Store
/target/
/out/
/web-app/plugins
/web-app/WEB-INF/classes
/.link_to_grails_plugins/
/target-eclipse/
*.classpath
*.idea
*.iml
*.project
*.ipr
node_modules
web-app/bower_components
web-app/css
web-app/index.html
web-app/images
web-app/scripts
web-app/styles
web-app/views
.htaccess
